{% extends 'layout.html.twig' %}

{% block content %}

<h1>Registration</h1>

{{ form_start(form, { 'attr': {'role': 'form'} }) }}
	<div class="form-group">{{ form_row(form.code, {
		'label':false, 
		'attr':{'class':'form-control', 'placeholder': 'Scan barcode/QR code, or enter email or name'}
	}) }}</div>

	<button type="submit" class="btn btn-large btn-primary">Search</button>

	<a href="/registration/1" class="btn btn-link">All tickets</a>
{{ form_end(form) }}

{% if tickets is defined %}
	<br />
	{% for ticket in tickets %}
		<div class="well ticket-{{ ticket.role }}">
			<dl class="dl-horizontal">
				<dt>Ticket:</dt>
				<dd>{{ ticket.code }}</dd>
				<dt>Email:</dt>
				<dd>{{ ticket.email }}</dd>
				<dt>Name:</dt>
				<dd>{{ ticket.first_name }} {{ ticket.last_name }}</dd>
				<dt>Vendor:</dt>
				<dd>{{ ticket.source }}</dd>
				<dt>Role:</dt>
				<dd><strong>{{ ticket.role|title }}</strong></dd>
			</dl>

			<div class="row-fluid">
				<div class="pull-left">
					<form action="/checkin" method="POST">
						<input type="hidden" name="day" value="1" />
						<input type="hidden" name="code" value="{{ ticket.code }}" />
						<input type="hidden" name="source" value="{{ ticket.source }}" />
						{% if ticket.checkin_day1 %}
							<input type="submit" value="Uncheck in for Day 1" class="btn btn-danger" />
						{% else %}
							<input type="submit" value="Check in for Day 1" class="btn btn-primary" />
						{% endif %}
					</form>
				</div>
				<div class="pull-left">&nbsp;</div>
				<div class="pull-left">
					<form action="/checkin" method="POST">
						<input type="hidden" name="day" value="2" />
						<input type="hidden" name="code" value="{{ ticket.code }}" />
						<input type="hidden" name="source" value="{{ ticket.source }}" />
						{% if ticket.checkin_day2 %}
							<input type="submit" value="Uncheck in for Day 2" class="btn btn-danger" />
						{% else %}
							<input type="submit" value="Check in for Day 2" class="btn btn-primary" />
						{% endif %}
					</form>
				</div>
				<div class="pull-left">&nbsp;</div>
				<div class="pull-left">
					<a href="/edit/{{ ticket.id }}" class="btn btn-info">Edit details</a>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	{% endfor %}
{% endif %}

{% endblock %}

{% block js_content %}
	<script type="text/javascript">
	(function($) {
		$(function() {
			$("#form_code").focus();
		});
	})(jQuery);
	</script>
{% endblock %}
